.geni-stdout
.nrepl-history
*.cast
spark-warehouse/
spark-warehouses/

*.DS_Store*
.clj-kondo/.cache

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
