{:skip-comments true
 :lint-as {zero-one.geni.utils/import-vars             potemkin/import-vars
           zero-one.geni.core/with-checkpoint          clojure.core/with-open
           zero-one.geni.core.dataset/with-checkpoint  clojure.core/with-open}
 :hooks {:macroexpand {zero-one.geni.utils/import-fn
                       zero-one.geni.kondo-hooks/import-fn
                       zero-one.geni.core.function-table/def-spark-functions
                       zero-one.geni.kondo-hooks/def-spark-functions
                       zero-one.geni.interop/def-stages
                       zero-one.geni.kondo-hooks/def-stages}}
 :linters
  {:unresolved-symbol
   {:exclude [(zero-one.geni.rdd.function/gen-function)]}
   :unresolved-var {:level :off}
   :redundant-expression {:level :off}}}
