{:skip-comments true
 :lint-as {serializable.fn/fn clojure.core/fn}
 :linters
  {:unresolved-symbol
    {:exclude [(zero-one.geni.utils/with-dynamic-import)
               (zero-one.geni.rdd.function/gen-function)]}}}
