{:deps
 {
  io.netty/netty-all                    {:mvn/version "4.1.53.Final"}
  ;; Spark
  org.apache.spark/spark-core_2.12      { :mvn/version "3.0.1"}
  org.apache.spark/spark-mllib_2.12     { :mvn/version "3.0.1"}
  org.apache.spark/spark-sql_2.12       { :mvn/version "3.0.1"}
  org.apache.spark/spark-streaming_2.12 { :mvn/version "3.0.1"}
  ;; Databases
  mysql/mysql-connector-java            { :mvn/version "8.0.21"}
  org.postgresql/postgresql             { :mvn/version "42.2.16"}
  org.xerial/sqlite-jdbc                { :mvn/version "3.32.3.2"}
  ;; Optional: Spark XGBoost
  ml.dmlc/xgboost4j-spark_2.12          { :mvn/version "1.0.0"}
  ml.dmlc/xgboost4j_2.12                { :mvn/version "1.0.0"}


  camel-snake-kebab/camel-snake-kebab   { :mvn/version "0.4.1"}
  expound/expound                       { :mvn/version "0.8.6"}
  metosin/jsonista                      { :mvn/version "0.2.7"
                                         :exclusions [com.fasterxml.jackson.core/jackson-databind]}
  com.taoensso/nippy                    { :mvn/version "3.0.0"}
  nrepl/nrepl                           { :mvn/version "0.8.2"}
  org.clojure/java.data                 { :mvn/version "1.0.86"}
  potemkin/potemkin                     { :mvn/version "0.4.5"}
  reply/reply                           { :mvn/version "0.4.4"}
  zero.one/fxl                          { :mvn/version "0.0.4"}
  zero.one/geni                         { :mvn/version "0.0.33"}}}
