{:deps
 {org.clojure/clojure                   {:mvn/version "1.10.1"}
  io.netty/netty-all                    {:mvn/version "4.1.53.Final"}
  ;; Spark
  org.apache.spark/spark-avro_2.12      {:mvn/version "3.1.1"}
  org.apache.spark/spark-core_2.12      {:mvn/version "3.1.1"}
  org.apache.spark/spark-hive_2.12      {:mvn/version "3.1.1"}
  org.apache.spark/spark-mllib_2.12     {:mvn/version "3.1.1"}
  org.apache.spark/spark-sql_2.12       {:mvn/version "3.1.1"}
  org.apache.spark/spark-streaming_2.12 {:mvn/version "3.1.1"}
  ;; Databases
  mysql/mysql-connector-java            {:mvn/version "8.0.23"}
  org.postgresql/postgresql             {:mvn/version "42.2.19"}
  org.xerial/sqlite-jdbc                {:mvn/version "3.34.0"}
  ;; Arrow
  org.apache.arrow/arrow-memory-netty   {:mvn/version "2.0.0"}
  org.apache.arrow/arrow-memory-core    {:mvn/version "2.0.0"}
  org.apache.arrow/arrow-vector         {:mvn/version "2.0.0"
                                         :exclusions [commons-codec
                                                      com.fasterxml.jackson.core/jackson-databind]}
  ;; Optional: Spark XGBoost
  ml.dmlc/xgboost4j-spark_2.12          {:mvn/version "1.0.0"}
  ml.dmlc/xgboost4j_2.12                {:mvn/version "1.0.0"}
  ;; Geni
  zero.one/geni                         {:mvn/version "0.0.39"}}}
